#form1 {
    position: absolute;
    background-color: #f1f1f1;
    padding-left: 4vw;
    margin-top: 10vh;
    margin-left: 30vw;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    position: relative;
    width: 28vw;
    border: 1px solid black;
}

button a {
    text-decoration: none;
}

#ex {
    position: absolute;
    margin-left: 23vw;
    border-radius: 5px;
    border: none;
    margin-top: -1.7vw;
    text-transform: uppercase;
    padding:2px;
    
}

#ex:hover {
    border: 1px solid black;
    padding-top:2px;
    padding-left: 5px;
    background-color:red;
    color:white;
}